h3 {
  font-size: 40px;
  text-align: center;
  font-family: fantasy;
  text-shadow: 5px 2px skyblue;
}
div {
  padding-left: 100px;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-family: fantasy;
  text-shadow: 5px 2px skyblue;
}
h2 {
  font-size: 35px;
  font-family: fantasy;
  text-align: center;
  text-shadow: 5px 2px skyblue;
}
p {
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
  text-shadow: 5px 2px skyblue;
  color: red;
}
body {
  background-color: #C1DADC;
}
